* {
  box-sizing: border-box;

  margin: 0 auto;
}
body {
  background-color: aliceblue;
}

.gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

.hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

.ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

.slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}
button {
  border-style: none;
  padding: 8px;
  border-radius: 3px;
  margin: 2px;

  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

.name {
  font-size: 1.2em;
}
.lastname {
  font-size: 1.2em;
}
.house {
  font-size: 1.2em;
  font-weight: 700;
}
.pic {
  width: 100%;
}
.stud_wrapper {
  padding: 1em;
  cursor: pointer;
  width: 200px;

  border: 2px solid black;
  text-align: center;
 
}
.stud_wrapper:hover {
  opacity: 0.8;
  
} 
.filter_con {
  text-align: center;
  display: grid;
  grid-template-columns: 20vw 20vw;
  grid-template-rows: 1fr 5vw;
  grid-template-areas: "students expel"
  "students_1 expel_1";

  margin-bottom: 3em;
  justify-content: center;
}
.expel_con {
  grid-area: expel_1;


  
}
.stud_con {
  grid-area: students_1;
  padding-top: 1em;
  font-size: 1.5em;

}
.stud_titel {
  grid-area: students;
}
.expel_titel {
  grid-area: expel;
}

.sort_con {
  text-align: center;
}
.filter_buttons {
  text-align: center;
}

.stud_list_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;


}

header {
  margin-bottom: 3em;
}
h1 {
  text-align: center;
  padding: 1em;
  font-size: 2.5em;
}
.expel_con h1 {
  padding: 0;
}
.filter_con h1 {
  padding-bottom: 10px;
}

.stud_con h1 {
  padding: 0;
}

/* MODAL */

#modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  position: fixed;
  text-align: center;
  top: 0;

  opacity: 0;
  pointer-events: none;
  transition: 1s;
  z-index: 2;
}


#modal-content {
  width: 80vw;
  margin: auto;

  margin-top: 5vw;
  font-size: 1.5em;
  font-style: italic;

  display: grid;
 
}


#modal.vis {
opacity: 1;
pointer-events: all;
transition: 0.5s;
}

button.close {
width: 50px;
margin: 1em;

font-weight: 700;
font-style: italic;

}

.expel {
  background-color: black;
  color: white;
  margin: 10px; 
}

.show_inquisitor {
  background-color: black;
  color: white;
}

.InquisitorialRemove {
  display: none;
}
.InquisitorialAdd {
  display: block;
}